html,
body {
  height: 100%;
  background-color: transparent;
  background-image: url("img/login.jpg");
  background-size: cover;
}

body {
  margin: 0;
}

.container {
  margin: 25px;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  align-items: center;
}

.flex-item {
  align-items: center;
  text-align: center;
}