body {
  background-color: transparent;
  background-image: url("../img/login.jpg");
  background-size: cover;
}

.todo-border {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 80vh;
  padding: 45px;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.alert-center {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 200px;
}

.login-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 360px;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.center-header {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.form button {
  font-family: 'Product Sans';
  text-transform: uppercase;
  outline: none;
  background-color: #2196F3;
  width: 50%;
  border: 0;
  margin: 15px 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #1976D2;
}

.form h2 {
  color: #333333;
  font-size: 28px;
  margin: 0 0 15px;
}

.form p.message {
  color: #666666;
  font-size: 14px;
}

.form p.message a {
  color: #2196F3;
  text-decoration: none;
}

.form p.message a:hover {
  text-decoration: underline;
}

#wrong-credential {
  color: #dc3545;
  font-size: small;
}

.invalid-feedback {
  color: #dc3545;
  float: left;
  font-size: small;
  padding: 5px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  border: 1px solid blue;
}